$primary: #FF8800B7;

$dark-shade-100: #1F2041;
$dark-shade-75: #1F204175;
$dark-shade-50: #1F204150;
$dark-shade-25: #1F204125;
$dark-shade-5: #1F204105;

$white: #FFFFFF;

$purple: #BC9CFF;
$green: #6FCF97;
$red: #ff000060;

$shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
$animation: all 0.2s linear;
