extends ../../layouts/layout
include ../../components/search-bar/search-bar
include ../../components/pagination/pagination

block content

  main.main
    section.products-section
      .container#productsDesc
        h2.visually-hidden 'Products desc'
        +search-bar({ filter, category })
