extends ../../layouts/layout
include ../../components/cart/cart
include ../../components/search-bar/search-bar

block content
  -
    const filter = ['rating', 'cheap', 'expensive']
    const category = ['men\'s clothing', 'jewelery', 'electronics', 'women\'s clothing' ]

  main.main
    +cart
    section.products-section
      .container#productsDesc
        h2.visually-hidden 'Products desc'
        +search-bar({ filter, category })
        .product-list#productList
