doctype html
html(lang="ru")
  include ../components/head/head
  body
    p= buildTime + commitHash + version
    .wrapper#wrapper
      header.layout-header
        .container
          .header-layout
            .header-layout__logo
              img.header-layout__img(src="img/logo.svg" alt="logo")
            .header-layout__cart
              p.header-layout__count#cartCount(data-btn='cartCount')
      block content
    .overlay#overlay
